<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>
    <h1>Registration</h1>
    <header>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    </header>
    <form method="post">
        {% csrf_token %}

        <label for="username">"Введите логин"</label>
        <input type="text" id="username" name="username" value="truelogin" maxlength="30" required>
        
        <label for="password">"Введите пароль"</label>
        <input type="text" id="password" name="password" value="Super_password" minlength="8" required>
        
        <label for="repeat_password">"Повторите пароль"</label>
        <input type="text" id="repeat_password" name="repeat_password" value="Super_password" minlength="8" required>
        
        <label for="age">"Введите свой возраст"</label>
        <input type="text" id="age" name="age" value="30" maxlength="3" required>
        
        <button type="submit">Зарегистрироваться</button>

    </form>

</body>
</html>